.product_card {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 10px;
}

.product_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3a3a3a;
}

.product_description {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}

.product_prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current_price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3a3a3a;
}

.old_price {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #b0b0b0;
    text-decoration: line-through;
}

.badge {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58, 0);
    transition: background-color 0.3s ease;
}

.overlay:hover {
    background-color: rgb(58, 58, 58, 0.72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    display: none;
    cursor: pointer;
}

.overlay:hover .button {
    width: 202px;
    height: 48px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B88E2F;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease;
}

.overlay:hover .button:hover {
    background-color: #B88E2F;
    color: #ffffff;
}

.links {
    display: none;
    cursor: pointer;
}

.overlay:hover .links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.overlay:hover .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    transition: color 0.2s ease;
}

.overlay:hover .link:hover {
    color: #B88E2F;
}

@media (max-width: 1024px) {
    .product_card {
        width: 25vw;
    }

    .product_image {
        width: 25vw;
        height: auto;
    }

    .product_title {
        font-size: 20px;
    }

    .current_price {
        font-size: 18px;
    }

    .overlay:hover .button {
        width: fit-content;
        padding: 10px 20px;
        height: 50px;
    }
    
    .overlay:hover .links {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .product_card {
        width: calc(33.33% - 20px);
    }

    .product_image {
        width: 100%;
        height: auto;
    }

    .card_content {
        padding: 10px;
    }

    .title {
        font-size: 24px;
    }

    .current_price {
        font-size: 16px;
    }

    .old_price {
        font-size: 14px;
    }

    .badge {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .product_card {
        width: calc(50% - 10px);
    }

    .title {
        font-size: 20px;
    }

    .product_prices {
        flex-direction: column;
    }

    .badge {
        width: 34px;
        height: 34px;
        font-size: 12px;
    }
}