.component {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper {
    height: fit-content;
    max-width: 1200px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 120%;
    margin-bottom: 30px;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product_card {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 10px;
}

.product_title {
    font-weight: 600;
    font-size: 24;
    line-height: 120%;
    color: #3a3a3a;
}

.product_description {
    font-weight: 200;
    font-size: 16;
    line-height: 150%;
    color: #898989;
}

.product_prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current_price {
    font-weight: 600;
    font-size: 20;
    line-height: 150%;
    color: #3a3a3a;
}

.old_price {
    font-weight: 200;
    font-size: 16;
    line-height: 150%;
    color: #b0b0b0;
    text-decoration: line-through;
}

.button {
    margin-top: 30px;
    background-color: #FFFFFF;
    border: 1px solid #B88E2F;
    padding: 25px 72px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    color: #B88E2F;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.button:hover {
    background-color: #B88E2F;
    color: #FFFFFF;
}