.component {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #FCF8F3;
}

.wrapper {
    height: fit-content;
    max-width: 1200px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 450px;
}

.title {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: #3a3a3a;
}

.description {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16;
    line-height: 150%;
    color: #616161
}

.button {
    margin: 0;
    margin-top: 20px;
    background-color: #B88E2F;
    padding: 12px 36px;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #8f6f26;
}

.slider_wrapper {
    height: 582px;
    position: relative;
}